.features-heading,
.reset-list.feature-list {
  margin-top: var(--layout-gap-default);
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-gap-default);
}

.feature-list .feature-card {
  flex: 1 1 100%;
}

@media screen and (min-width: 47.9375em) {
  .feature-list .feature-card {
    flex: 1 1 45%;
    font-size: var(--typography-size-small-medium);
  }

  .feature-card.icon-docs {
    flex-direction: column;
    text-align: center;
  }
}
